// Colors
$white: #ffffff;
$bitter-lemon: #C4E538;
$grass-green: #A3CB38;
$deep-green: #009432;
$green-aqua: #006266;
$super-light-green: #EAF1CC;

// measurements
$default-padding: 20;
$default-margin: 20;
$section-sm-padding: 20;
$section-med-padding: 40;
$section-lg-padding: 60;